body {
    margin: 29px;
    background-image: url("https://images.pexels.com/photos/825864/pexels-photo-825864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed; 
    color: rgb(196, 192, 192);
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
}

.container {
    width: 30%;
    padding: 30px;
    margin: 10% 0 0 50%;
        
        h1 {
            font-size: 32px;
            letter-spacing: 3px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: rgb(96, 12, 192);
                width: 60%;
                height: 0.5px;
                left: 90px;
                top: 35px;
                display: block;
            }
        }

        h2 {
            font-size: 26px;
            letter-spacing: 5px;
        }
}